/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka', sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 70%;
    margin: auto;
}

h1 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
    color: #ff3366;
}

p {
    text-align: center;
    padding-bottom: 50px;
    font-weight: 400;
}

.col { 
    color: white;
    width: calc(100% / 3);
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 50px;
}

img {
    width: 100px;
    float: left;
}

.testo {
    float: left;
    width: calc(100% - 100px);
    padding-left: 10px;
    padding-top: 10px;
    line-height: 25px;
}

.card {
    background-color: black;
}

.description {
    font-size: 15px;
    display: block;
}

.mail {
    color: lightblue;
    font-size: 15px;
}
